body {
  font-family: Lato;
}

.subtitle {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar {
  margin-left: 20px;
  margin-right: 20px;
  display: fixed;
}

.nav-item {
  color: #141414;
  padding-left: 10px;
  padding:right: 10px;
}

.nav-link {
  color: #141414;
}

#GraphicsContainer {
  margin-top: -120px;
  min-width: 100vw;
}


#spotlight {
  margin-top: 50px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-right: auto;
  max-height: 500px;
  min-width: 100%;
  overflow: hidden;
}

.navbar {
  font-size: 20px;
}

#brand {
  font-size: 30px;
}


#footer {
  color: #ffffff;
  text-align: center;
  background-color: #141414;
  min-height: 20vh;
  max-width: 800vw;
  overflow: hidden;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#header {
  text-align: center;
  color: #141414;
}

#mono {
  font-size: 100px;
  font-weight: 300;
  padding-top: 20px;
}

/* Fill for name */
.fill a {
  position: relative;
}

.fill a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #141414;
  height: 1px;
}

.fill a {
  transition: all 0.5s;
}

.fill a:after {
  text-align: left;
  content: '';
  margin: 0;
  opacity: 0;
}
.fill a:hover {
  color: #fff;
  z-index: 1;
}
.fill a:hover:after {
  z-index: -10;
  animation: fill 0.5s forwards;
  -webkit-animation: fill 0.5s forwards;
  -moz-animation: fill 0.5s forwards;
  opacity: 1;
}


/* Fill for Navbar UL */
.fill ul li a {
  position: relative;
}

.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #141414;
  height: 1px;
}

.fill ul li a {
  transition: all 0.5s;
}

.fill ul li a:after {
  text-align: left;
  content: '';
  margin: 0;
  opacity: 0;
}
.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 0.5s forwards;
  -webkit-animation: fill 0.5s forwards;
  -moz-animation: fill 0.5s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #141414;
  }
}
