body {
  padding: 0;
  font-size: 16px;
}

#Sidebar {
  padding-top: 30px;
  padding-left: 30px;
  margin-top: 50px;
  margin-left: 50px;
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: #000;
  display: flex;
}

#GraphicsContainer {
  display: flex;
  overflow: hidden;
}

#Name {
  color: #fff;
}
